:root {
    --color-gradient-red-active: #be0000;
    --color-gradient-red-start: #ff3e3e;
    --color-gradient-red-end: #ff5252;
    --color-gradient-red-hover: #ff5252;
    --interactive-gradient-red: linear-gradient(30deg,
    var(--color-gradient-red-active), var(--color-gradient-red-start) 33%, var(--color-gradient-red-end) 66%, var(--color-gradient-red-hover));

    --color-gradient-green-active: #1f7900;
    --color-gradient-green-start: #1ea100;
    --color-gradient-green-end: #09a200;
    --color-gradient-green-hover: #00bd0e;
    --interactive-gradient-green: linear-gradient(30deg,
    var(--color-gradient-green-active), var(--color-gradient-green-start) 33%, var(--color-gradient-green-end) 66%, var(--color-gradient-green-hover));
}

[class*=homey-button][class*=danger] {
    --homey-button-background: var(--interactive-gradient-red);
    --homey-button-color-focus: var(--color-gradient-red-start)
}

[class*=homey-button][class*=success] {
    --homey-button-background: var(--interactive-gradient-green);
    --homey-button-color-focus: var(--color-gradient-green-start)
}

[class*=homey-button][class*=small] {
    padding: 5px 15px;
}

input.homey-form-input[type="text"]:disabled,
input.homey-form-input[type="number"]:disabled,
input.homey-form-input[type="password"]:disabled,
input.homey-form-input[type="url"]:disabled {
    background-color: var(--homey-color-mono-10);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--homey-interactive-gradient-blue);
    filter: grayscale(1) opacity(0.5);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    filter: none;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4f8fd7;
}

input:checked + .slider:before {
    transform: translateX(19px);
}

.slider.round {
    border-radius: 14px;
}

.slider.round:before {
    border-radius: 50%;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: .3rem !important;
}

.mb-2 {
    margin-bottom: .6rem !important;
}

.mt-1 {
    margin-top: .3rem !important;
}

.mt-0-5 {
    margin-top: .125rem !important;
}

