.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 1em;
    color: var(--color-body);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge.badge-small {
    font-size: 0.8em;
}

.badge.badge-right {
    float: right;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}


.bg-color-blue {
    background-color: var(--bg-color-blue);
}

.bg-color-red {
    background-color: var(--bg-color-red);
}

.bg-color-orange {
    background-color: var(--bg-color-orange);
}

.bg-color-green {
    background-color: var(--bg-color-green);
}

.bg-color-magenta {
    background-color: var(--bg-color-magenta);
}

.bg-color-purple {
    background-color: var(--bg-color-purple);
}

.bg-color-gray {
    background-color: var(--bg-color-gray);
}

.bg-color-cyan {
    background-color: var(--bg-color-cyan);
}
