.topBar {
    background-color: var(--white);
    min-height: 45px;
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
    box-shadow: var(--box-shadow-light);
    position: fixed;
    top: 0;
    width: 100%;
    white-space: nowrap;
}


.topBar .leftControl {
    position: absolute;
    background: none;
    border: none;
    font-size: var(--font-size-default);
    text-align: start;
    color: var(--blue);
}

.topBar button, .topBar div:not(.title) {
    min-height: 40px;
    padding-right: var(--su-2);
    padding-left: var(--su-2);
}

.topBar button:hover {
    background-color: var(--background-color);
    cursor: pointer;
}

.topBar .title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    height: 40px;
    line-height: 35px;
    min-width: 5%;
    vertical-align: middle;
    z-index: -9999;
}

.topBar .rightControl {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    font-size: var(--font-size-default);
    color: var(--blue);
    text-align: right;
}

.menuWrapperContent {
    padding-top: 45px;
}

