# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/vcs.xml
/discord.xml
/easy-i18n.xml
/i18nSettings.xml
.idea/*
/telegram-settings/node_modules/
/telegram-settings/build/